/* --------------------------------------------------
   4:5 LAYOUT
-------------------------------------------------- */
/* Design size: 480 × 600 (height-based scaling) */

.weather-widget--4x5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.67rem;
  padding: 5rem;
  border-radius: 4rem;

  background: linear-gradient(
    270deg,
    var(--color-bg-start) 0%,
    var(--color-bg-end) 100%
  );
}

.weather-widget--4x5 .weather-widget__top-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.33rem;
}

.weather-widget--4x5 .weather-widget__location {
  font-weight: 500;
  text-align: center;
  font-size: 5.33rem;
}

.weather-widget--4x5 .weather-widget__temp-icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.33rem;
}

.weather-widget--4x5 .weather-widget__time {
  text-align: center;
  font-size: 18rem;
}

.weather-widget--4x5 .weather-widget__icon--current {
  width: auto;
  max-width: 17rem;
  height: 17rem;
}

.weather-widget--4x5 .weather-widget__temp--current {
  text-align: center;
  font-size: 17rem;
}

.weather-widget--4x5 .weather-widget__weather-text {
  text-align: center;
  font-size: 6rem;
}
