/* --------------------------------------------------
   1:1 LAYOUT 
-------------------------------------------------- */
.weather-widget--1x1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: calc(100vw / var(--layout-1x1-design-width) * 10);
  padding: calc(100vw / var(--layout-1x1-design-width) * 32);
  border-radius: calc(100vw / var(--layout-1x1-design-width) * 22);
  background: linear-gradient(
    180deg,
    var(--color-bg-start) 0%,
    var(--color-bg-end) 100%
  );
}

.weather-widget--1x1 .weather-widget__location {
  font-size: calc(100vw / var(--layout-1x1-design-width) * 32);
  text-align: center;
}

.weather-widget--1x1 .weather-widget__time {
  font-size: calc(100vw / var(--layout-1x1-design-width) * 80);
}

.weather-widget--1x1 .weather-widget__temp-icon-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(100vw / var(--layout-1x1-design-width) * 10);
}

.weather-widget--1x1 .weather-widget__temp--current {
  font-size: calc(100vw / var(--layout-1x1-design-width) * 60);
}

.weather-widget--1x1 .weather-widget__icon--current {
  width: auto;
  max-width: calc(100vw / var(--layout-1x1-design-width) * 74);
  height: calc(100vw / var(--layout-1x1-design-width) * 74);
}

.weather-widget--1x1 .weather-widget__weather-text {
  font-size: calc(100vw / var(--layout-1x1-design-width) * 32);
  text-align: center;
}
