/* --------------------------------------------------
   3:1 LAYOUT
-------------------------------------------------- */
.weather-widget--3x1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: calc(100vw / var(--layout-3x1-design-width) * 10);
  padding: calc(100vw / var(--layout-3x1-design-width) * 32);
  background: linear-gradient(
    0deg,
    var(--color-bg-start) 0%,
    var(--color-bg-end) 100%
  );
}

/* ==================================================
   LEFT COLUMN
================================================== */
.weather-widget--3x1 .weather-widget__left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(100vw / var(--layout-3x1-design-width) * 16);
}

.weather-widget--3x1 .weather-widget__location {
  font-size: calc(100vw / var(--layout-3x1-design-width) * 40);
  font-weight: 500;
}

.weather-widget--3x1 .weather-widget__time {
  font-size: calc(100vw / var(--layout-3x1-design-width) * 120);
}

/* ==================================================
   RIGHT COLUMN
================================================== */
.weather-widget--3x1 .weather-widget__right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: calc(100vw / var(--layout-3x1-design-width) * 30);
}

/* ==================================================
   CURRENT ROW (ICON + TEMP)
================================================== */
.weather-widget--3x1 .weather-widget__current-row {
  display: flex;
  align-items: center;
  gap: calc(100vw / var(--layout-3x1-design-width) * 16);
}

.weather-widget--3x1 .weather-widget__icon--current {
  max-width: calc(100vw / var(--layout-3x1-design-width) * 100);
  height: calc(100vw / var(--layout-3x1-design-width) * 100);
}

.weather-widget--3x1 .weather-widget__temp--current {
  font-size: calc(100vw / var(--layout-3x1-design-width) * 88);
}

/* ==================================================
   WEATHER TEXT VARIANT
================================================== */
.weather-widget--3x1 .weather-widget__weather-text {
  font-size: calc(100vw / var(--layout-3x1-design-width) * 40);
}

/* ==================================================
   TEMP RANGE VARIANT (MAX / MIN)
================================================== */
.weather-widget--3x1 .weather-widget__temp-range {
  display: flex;
  align-items: center;
  gap: calc(100vw / var(--layout-3x1-design-width) * 4);
}

.weather-widget--3x1 .weather-widget__temp--forecast {
  font-size: calc(100vw / var(--layout-3x1-design-width) * 40);
}

.weather-widget--3x1 .weather-widget__temp-range-item {
  display: flex;
  align-items: center;
  gap: 0;
}

.weather-widget--3x1 .weather-widget__arrow-icon {
  width: calc(100vw / var(--layout-3x1-design-width) * 40);
  height: calc(100vw / var(--layout-3x1-design-width) * 40);
}
